<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button *ngIf="_us.activo" (click)="cerrarSesion()">
                          Salir
                      </button>
        </ion-buttons>
        <ion-title text-center>Mercado Libre</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="verCarrito()">
            <ion-icon  name="cart"></ion-icon>
            
        </button>
            <ion-badge color="red" *ngIf="_cs.items.length > 0">{{_cs.items.length}}</ion-badge>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid ng-if="_ps.productos.length > 0">
        <ion-row *ngFor="let grupo of _ps.productos">

            <ion-col *ngFor="let item of grupo" (click)="irDetalleProducto(item)">
                <img [src]="item.codigo | imagen">
                <p>{{item.producto}}</p>
                <p>{{item.precio_compra | currency:'USD':true}}</p>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="siguientePagina($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>